/* Đặt nền chung cho tất cả các trang */
body {
    background-image: url("./5.jpg"); /* Đường dẫn tới ảnh nền liên quan đến ngày 2/9 */
    background-size: cover;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    color: rgb(243, 41, 5);
    font-style: italic;
}

/* Định dạng cho các tiêu đề */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: white; /* Màu khác đen và xanh */
}
/* Định dạng cho các liên kết */
a {
    color: red
    text-decoration: none;/* Không gạch chân */
}