* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  overflow-y: auto;
}

.welcome-section {
  height: 100vh;
  background: url('anhnhomtlinh.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.welcome {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #393131; /* đổi màu chữ WELCOME TO OUR WEBSITES*/
  opacity: 2;
  animation: fadeIn 1.5s ease forwards;
}

.welcome h1 {
  font-size: 3em;
}

/* Nút Next To ở góc dưới bên phải */
.next-button {
  padding: 15px 30px;
  background-color: #e17a42;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.next-button:hover {
  background-color: #111111;
}

.members-section {
  background-color: #111111;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
  display: block;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.members-section h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: left;
}

.member-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.member-header h3 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.underline {
  width: 200px;
  height: 5px;
  background: #e17a42;
  border-radius: 5px;
}

.members-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.member-card {
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.member-images {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.member-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.member-images img:nth-child(1) {
  opacity: 1;
  z-index: 1;
}

.member-images img:nth-child(2) {
  opacity: 0;
  z-index: 2;
}

.member-images:hover img:nth-child(1) {
  opacity: 0;
}

.member-images:hover img:nth-child(2) {
  opacity: 1;
  transform: scale(1.05);
}

.member-card p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


